<div class="row">
  <div class="large-12 columns blue-box">
    <%= form_for [@user], url: {action: "update"}, html: {class: "nifty_form"} do |f| %>
      <li><%= f.label :profile_photo %></li>
      <li><%= f.file_field :profile_photo %></li><br>
      <li><%= f.label :name %></li>
      <li><%= f.text_field :name%></li><br>
      <li><%= f.label :email %></li><br>
      <li><%= f.text_field :email%></li><br>
      <li><%= f.label :password %></li><br>
      <li><%= f.text_field :password%></li><br>
      <li><%= f.submit "Update" %></li>
    <% end %>
  </div>
</div>

