<!DOCTYPE html>
<html>
<head>
  <title>Hunt Details</title>
</head>
<body>
	<% if flash.any? %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <div class="row">
    <div class="large-12 columns blue-box">

      <h3>Hunt</h3>
      <li>Name : <%=@hunt.name%></li><br>
       <li>Location : <%=@hunt.location.address.split(',').first%></li><br>
      <h3>Your itenirary</h3>

      <%@hunt.questionsets.each do|question|%>
        <li><%=question.question_no%>.  <%=question.question.capitalize%></li>
        <li><%=link_to "Edit question", edit_hunt_questionset_path(@hunt, question)%>
        </li>
      <%end%>

      <% if @hunt.questionsets.empty? == false %>
        <% if (5 - @hunt.questionsets.maximum(:question_no)) != 0 %>
          <li> You have <%= 5 - @hunt.questionsets.maximum(:question_no)%> questions left to complete <%=@hunt.name%> </li>
          <li><%=link_to "Add a question", new_hunt_questionset_path(@hunt)%></li>
          <br>
             <li><%=link_to "Play", hunt_questionset_path(@hunt, @hunt.questionsets.first)%></li>
        <%else%>
          <li><%=@hunt.name%> Complete</li><br>
          <li>Where to next ?</li>
          <li><%=link_to "New hunt", new_location_path%></li>
        <%end%>
      <%else%>
        <li><%=link_to "Add a question", new_hunt_questionset_path(@hunt)%></li>
      <%end%>








      <li>Where to next ?</li>
      <li><%=link_to "New hunt", new_location_path%></li>


      <li><%=link_to "Edit hunt name", edit_location_hunt_path(@location, @hunt)%></li>
      <li><%= button_to "Delete", @hunt, :method => :delete,:class => "signinlinks" %></li>

      <li><%=link_to "All hunts", hunts_path%></li>


    </div>
  </div>

</body>
</html>
