<script type="text/javascript">
  var map_array = <%= @itinerary_array %>

  var my_zoom =  <%= 12 %>
  var mapcenterlat = <%= @hunt.location.latitude %>
  var mapcenterlong = <%= @hunt.location.longitude %>
  var flag = <%= 2 %>

</script>

<div id="map_canvas" style="height:80%;width:100%"></div>

<div class="row">
  <div class="large-12 columns" style="margin-left:-15%">
    <% @places_array.each do|place|%>
      <div class="large-2 columns question-boxes nofill">
        <% unless place.hunt_photo.blank? %>
          <%= image_tag(place.hunt_photo) %>
        <%end%>
        <li><%=place.question_no%>. <%=place.address%><li>
      </div>
    <%end%>
  </div>
</div>
