
  <script type="text/javascript">
    var map_array = <%= @itinerary_array %>
    var my_zoom =  <%= 13 %>
    var mapcenterlat = <%= @hunt.location.latitude %>
    var mapcenterlong = <%= @hunt.location.longitude %>
    var flag = <%= 2 %>
    var quiz_id = <%= @questionset.id %>
    var hunt_id = <%= @questionset.hunt.id %>

   </script>

  <div id="map_canvas" style="height:70%;width:100%"></div>



    <div class="row">
      <div class="large-8 columns blue-box">
         <li> <%=@msg%></li>
        <li>Q <%=@questionset.question_no%>.  <%=@questionset.question%></li>

      </div>



      </div>


    <section class="signinwhite">


      <div class="row">
        <div class="large-6 columns">
        <li class="italictext"> Enter answer in (Location, State, Country) format <li>
          <%= form_for [@questionset, @huntsplayed] do |f| %>
            <li><%= f.label :address %></li>
            <li><%= f.text_field :address, placeholder: "Address", :class => "address"%></li>
            <% if flash[:notice] != "You are done ! Congrats" %>

            <%= submit_tag "Answer", :class => "answer large button" %>
            <%end%>
          <% end %>



        </div>
      </div>



    </section>



