
<script type="text/javascript">
  var map_array = <%= @itinerary_array %>;
  var my_zoom =  12;
  var mapcenterlat = <%= @hunt.location.latitude %>;
  var mapcenterlong = <%= @hunt.location.longitude %>;
  var flag = 2;
  var quiz_id = <%= @questionset.id %>;
  var hunt_id = <%= @questionset.hunt.id %>;

 </script>

<div id="map_canvas" style="height:100%;width:100%"></div>
 <div class="row">
    <div class="large-6 columns layer-box">
      <li> <%=@msg%></li>
        <li class="question-text boxques">Q <%=@questionset.question_no%>.  <%=@questionset.question%></li>

          <li><%=link_to "Get Help", clue_path(@questionset.hunt.location_id), target: '_blank'%></li>
          <%= form_for [@questionset, @huntsplayed] do |f| %>
           <li class="italictext ismall"> Enter answer in (Location, State, Country) format </li>
            <li><%= f.label :address %></li>
            <li><%= f.text_field :address, placeholder: "Address", :class => "address"%></li>
            <% if flash[:notice] != "You are done ! Congrats" %>
            <div class="large-6 large-offset-3 columns">
            <li><%= submit_tag "Answer", :class => "answer large button marginadj" %></li>
            </div>

          <%end%>
         <% end %>
  </div>
</div>





