<script type="text/javascript">
  var map_array = <%= @location_array.inspect %>
  var my_zoom =  <%= 4 %>
  var flag = <%= 1 %>
  var mapcenterlat = <%= 39.8282 %>
  var mapcenterlong = <%= -98.5795 %>
</script>


<div id="map_canvas" style="height:75%;width:100%"></div>


<div class="row">
  <div class="large-10 large-offset-1 columns  question-boxes nofill">
    <h3 class="boxtext">Choose Location</h3>
      <div class="large-12 columns blue-box hvr-float">
        <li>
          <%@locations.each do|loc|%>
            <%= link_to "#{loc.address.split(',').first}", location_path(loc.id), class: "question-text hvr-float" %>
          <%end%>
        </li>
        <div class="large-4 large-offset-4 columns">
          <li><%= paginate @locations %></li>
        </div>
      </div>

  </div>
</div>



