

  <script type="text/javascript">
    var map_array = <%= @location_array.inspect %>
    var my_zoom =  <%= 4 %>
    var flag = <%= 1 %>
    var mapcenterlat = <%= 39.8282 %>
    var mapcenterlong = <%= -98.5795 %>
  </script>


  <div id="map_canvas" style="height:75%;width:100%"></div>


  <div class="row">
    <div class="large-12 columns blue-box">
      <h3>Choose your location</h3>
      <div class="large-12 columns question-boxes hvr-float">
        <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-12">
          <%@locations.each do|loc|%>
            <li style="margin-left:20%"><%= link_to "#{loc.address.split(',').first}", location_path(loc.id) %></li>

          <%end%>
        </ul>

    </div>

  </div>




