<!DOCTYPE html>
<html>
<head>
  <title>Quest</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <title><%= content_for?(:title) ? yield(:title) : "Quest" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>


   <section class="signin">

  <div class="main-wrapper">
    <nav class="top-bar" data-topbar role="navigation">
    <div class="button-group">

      <% if current_user %>
         <li><%=current_user.name%></li>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, :class => "signinlinks" %></li>

      <% else %>
        <li><%= link_to 'Sign Up', new_user_registration_path, :class => "signinlinks" %></li>

        <li><%= link_to 'Sign In', new_user_session_path, :class => "signinlinks" %></li>
      <%- end -%>
       <% if flash.any? %>
          <li class="flash">
            <%= flash[:notice] %>
          </li>

      <%end%>



      <a href="#" data-reveal-id="firstModal" class="rules large button">RULES</a>

      <div id="firstModal" class="reveal-modal modal-box" data-reveal>
       <div class="row">
        <div class="large-10 large-offset-1 columns">
        <h3>To create your hunt</h3>
        <li>>> Choose the your hunt location</li>
        <li>>> Enter your hunt name and description</li>
        <li>>> Enter 5 questions and you are all set</li><br>
        <div class="row">
        <div class="large-4 large-offset-4 columns">
          <a href="#" data-reveal-id="secondModal"
          class="rules large button blankit" >PLAY</a>
         </div>
         </div>

          </div>
        </div>
        <a class="close-reveal-modal">&#215;</a>
      </div>

      <div id="secondModal" class="reveal-modal modal-box" data-reveal>
        <div class="row">
        <div class="large-10 large-offset-1 columns">
        <h3>To play a hunt</h3>
        <li>>> Answer the question by filling the box</li>
        <li>>> Or answer by clicking on location in map</li>
        <li>>> Answer all 5 questions and you win !!</li><br>
        <div class="row">
        <div class="large-4 large-offset-4 columns">
          <a href="#" data-reveal-id="firstModal"
          class="rules large button">CREATE</a>
         </div>
         </div>

          </div>
        </div>
        <a class="close-reveal-modal">&#215;</a>
      </div>

















        <div class="row">
          <div class="large-12 columns medium-8 columns small-6 columns">

            <div class = "footer_social">


              <li> <a href="https://twitter.com/share" class="twittersharebutton" data-count="none" data-hashtags="Maps, Game, Travel,Tresurehunts"><img src="http://localhost:3000/assets/twitter.png"></a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
                </script>
             <a href="//www.pinterest.com/pin/create/button/"><img src="http://localhost:3000/assets/pin.png"/></a></li>

              </div>
          </div>

      </div>

      </div>
     </nav>
    </div>


  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_tag do %>
    $(function(){
      $(document).foundation();
    });
  <% end %>

  </section>
</body>
</html>
