<!DOCTYPE html>

<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Quest</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

 <%= stylesheet_link_tag "main" %>

 <link href='http://fonts.googleapis.com/css?family=Niconne|Tangerine|Great+Vibes' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <style type="text/css">
    body {
      font-family: 'Tangerine', sans-serif;
      background-color: blue;
    }
  </style>
  </head>
  <body class="loading" style="margin-top:10%;margin-right:0%;margin-left:0%;margin-left:0%">


      <div id="preload">
        <%= image_tag("img0.jpg") %>
        <%= image_tag("img1.jpg") %>
        <%= image_tag("img2.jpg") %>
        <%= image_tag("img3.jpg") %>
        <%= image_tag("img4.jpg") %>
      </div>

      <main>

       <section id="slide-0" class="homeSlide" style="height:682px">

          <div class="bcg">
            <div class="hsContainer">
            <div class="hsContent">
             <div><%= link_to "SKIP INTRO", trips_path, class: "italictext"%></div>
              <h2 style="word-wrap:normal;font-size:2.2em;font-family:'Tangerine'" id ="heading">
              Wherever you go, go with all your heart - Confucius<br>

              </h2>

            </div>

           </div>
          </div>

      </section>

        <section id="slide-1" class="homeSlide" style="height:682px">
          <div class="bcg">
            <div class="hsContainer">
            <div class="hsContent">
             <div><%= link_to "SKIP INTRO", trips_path, class: "italictext"%></div>
              <h2 style="word-wrap:normal;font-family:'Tangerine'">I do not speak with any fondness but the language of coolest history, when I say that Boston commands attention as the town which was appointed in the destiny of nations to lead the civilization of North America.<br>
              - Ralph Waldo Emerson
              </h2>
              <h2> Keep scrolling </h2>
            </div>
            </div>
          </div>
      </section>

      <section id="slide-2" class="homeSlide" style="height:682px">
        <div class="bcg">
          <div class="hsContainer">
            <div class="hsContent">
             <div><%= link_to "SKIP INTRO", trips_path, class: "italictext"%></div>
              <h2 style="font-family='Tangerine'">You wouldn’t think such a place as San Francisco could exist.  The wonderful sunlight here, the hills, the great bridges, the Pacific at your shoes.  Beautiful Chinatown.  Every race in the world.  The sardine fleets sailing out.  The little cable-cars whizzing down The City hills….And all the people are open and friendly.<br>
              - Dylan Thomas</h2>
              <h2> Keep scrolling </h2>
            </div>
            </div>
        </div>
      </section>

    <section id="slide-3" class="homeSlide" style="height:682px">
      <div class="bcg">
          <div class="hsContainer">
            <div class="hsContent">
             <div><%= link_to "SKIP INTRO", trips_path, class: "italictext"%></div>
              <h2 style="font-family:'Tangerine'">Hog Butcher for the World,
                 Tool Maker, Stacker of Wheat,
                 Player with Railroads and the Nation's Freight Handler;
                 Stormy, husky, brawling,
                 City of the Big Shoulders..<br>
                  - Carl Sanburg</h2>
                <h2> Keep scrolling </h2>
            </div>
          </div>

        </div>
    </section>

    <section id="slide-4" class="homeSlide" style="height:682px">
      <div class="bcg">
          <div class="hsContainer">
            <div class="hsContent">
              <div><%= link_to "SKIP INTRO", trips_path, class: "italictext"%></div>
              <h2 style="font-family:'Tangerine'">Traveling - it leaves you speechless, then turns you into a storyteller.
              <br> - Ibn Battuta.<br><br>
              So go forth, create your own
              or share someone's else's...</h2>

            </div>

        </div>
        </div>
    </section>

  </main>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

      <%= javascript_include_tag "_main" %>
      <%= javascript_include_tag "imagesloaded" %>




      <script>
        $(document).ready(function() {
          $("#heading").delay(1000).fadeIn(4000);
        });
      </script>



      <%= javascript_include_tag "skrollr" %>




  </body>
  <footer>
  <li style="color:orange"> Boston images inspired by - Theresa Tibbot license istockphoto
  . San Fransisco images inspired by avNY license shutterstock
  </li>

  </footer>
</html>


